.productsContainer{
    margin-top: 40px;
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
}

.productsContainer h2{
    font-size: 30px;
    font-family: "Satisfy", cursive;
    font-weight: bold;
    color: rgb(255, 155, 14);
}
.productsContainer h3{
    font-size: 20px;
    font-family: "Satisfy", cursive;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
.productsContainer p{
    font-size: 12px;
    font-family: "Playwrite NG Modern", cursive;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
